@model IEnumerable<Application.ViewModels.EmailViewModel>

@{ ViewData["Title"] = "List"; }

<table class="table text-center">
    <thead ">
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Title
            </th>
            <th>
                Message
            </th>
            <th>
                File
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
       {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Message == null)
                {
                    <p>N/A</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Message)
                }
            </td>
            <td>
                <a href='@Url.Action("Download", "Emails", new { name = item.Name})'>
                    <img src="/files/fileLogo.jpg" alt="file" width="25">
                </a>
            </td>
        </tr>}
    </tbody>
</table>
